<h1>論文一覧</h1>

  <ul>
  <li><a href="/articles/<%= @articles[0].id %>"><%= @articles[0].title %></a></li>
  <li><a href="/articles/<%= @articles[0].id %>"><%= @articles[0].title %></a></li>
  <li><a href="/articles/<%= @articles[0].id %>"><%= @articles[0].title %></a></li>
</ul>

<%= link_to "投稿する", new_article_path%>